doctype html
html(lang="en")
	head
		title awesemantic-geo
		link(rel='stylesheet', type='text/css', href='/styles/pub.css')
		link(rel='stylesheet', type='text/css', href='/resource/leaflet.css')
	body
		h1 awesemantic-geo
		#map
		div#inspect
		svg#histogram(width=960, height=500)
		script(src='/scripts/pub.js')
